* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
/* Begin of styles for the demonstration (you can remove them) */
a.expand {
	width: 150px;
	display: block;
	margin: 10px 0 0;
}
a.expand:hover {
	height: 500px;
}
/* End of of styles for the demonstration */
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 1000px;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 150px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	border-left: 250px solid #B5E3FF;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
}
#content {
	padding: 0 20px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 250px;
	position: relative;
	background: #B5E3FF;
	left: -250px;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 100px;
	background: #BFF08E;
}